# Platform-level infrastructure and APIs
/gitops/ @mohamediag

# Tenant application XRs and app intent
/platform-tenants-apps-dev/ @mohamediag
/platform-tenants-apps-staging/ @mohamediag
/platform-tenants-apps-prod/ @mohamediag
